[Unit]
Requires=network-online.target postgresql.service
After=network-online.target postgresql.service

[Service]
ExecStart=/usr/local/bin/bread-bot

[Install]
WantedBy=multi-user.target
